[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = This is an empty project just for test
[access "refs/*"]
	owner = group user/BenaidaAmel
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/BenaidaAmel
	label-Verified = -1..+1 group user/BenaidaAmel
	push = group user/BenaidaAmel
	read = group user/BenaidaAmel
	rebase = group user/BenaidaAmel
	removeReviewer = group user/BenaidaAmel
	submit = group user/BenaidaAmel
[access "refs/heads/*"]
	create = group user/BenaidaAmel
	push = +force group user/BenaidaAmel
	pushMerge = group user/BenaidaAmel
	read = group user/BenaidaAmel
[access "refs/tags/*"]
	push = group user/BenaidaAmel
	push = +force group user/BenaidaAmel
